<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"
        <title> Уведомление от портала "Доска объявлений" </title>
    </head>
    <body>
        <h2>{{mail.title}}</h2>
        <p>Здравствуйте, {{mail.first_name}} {{mail.last_name}} ({{mail.username}})!
            Произошло что-то интересное:
            http://127.0.0.1:8000{{mail.link}}
        </p>
        <p>{{mail.text}}</p>
    </body>
    </html>